body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
   
    background-color:#39cef7;
    padding: 20px;
    text-align: center;
    border: 2px solid #0ce0f7;
}
.main-container{
    width: 180px;
    height: 81px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(3, 75, 182);
}
.star {
    color: rgb(255, 94, 0);
  }
  .btn{
        padding: 10px;
        border-radius:3px;
        background: repeating-linear-gradient(#e4e6e7, #e4e6e7 51.0%, #bebcbc 50.0%, #bebcbc 100%);
        color: black;
        font-family: Aria;
        font-weight: 550;
        border: 1px solid #BFBFBF;
        box-shadow: 1px 1px 2px #585757;
        cursor: pointer;
    }

