body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
   
    background-color:#00ccff;
    padding: 20px;
    text-align: center;
    border: 2px solid #0ce0f7;
}
.main-container{
    width: 180px;
    height: 81px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(3, 75, 182);
}
.star {
    color: #ffa500;
  }
  .btn{
        padding: 10px;
        border-radius:3px;
        background: repeating-linear-gradient(#f1f1f1, #f1f1f1 51.0%, #d7d7d7 50.0%, #d7d7d7 100%);
        color: black;
        font-family: Aria;
        font-weight: 550;
        border: 1px solid #BFBFBF;
        box-shadow: 1px 1px 2px #585757;
        cursor: pointer;
    }

